
<img src="$item.getUrl()file" id="theimage">

<script>
	$(function() {
		debugger;
		var img = document.getElementById("theimage");
		img.doResize = function() {
			//alert("HEJ");
			console.log("ajdjajwd");
		}
		
		var element = $('#theimage')[0];
		var parent = element.parentNode;
		var w = $(parent).css('width');
		$(element).width(parent.clientWidth);
		$(element).height(parent.clientHeight);
	})
</script>

<!--
<div id="theimage">
</div>

<script>
	var div = document.getElementById("theimage");
	div.addEventListener("resize", function() {alert("HEY")});

	Utils.setTheImageSize = function(maxDim) {
		var w = $('#theimage').width();
		var h = $('#theimage').height();
		if(w < h) {
			this.width = this.width * wr;
		} else {
			this.height = this.height * hr;
		}
	}
	var img = new Image();
	img.onload = function() {
  		//alert(this.width + 'x' + this.height);
  		
  		//
  		/* 
		var w = $(window).width() - 100;
		var h = $(window).height() - 100;
		var wr = w / this.width;
		var hr = h / this.height;
		
		if(wr < hr) {
			this.width = this.width * wr;
		} else {
			this.height = this.height * hr;
		}
		*/
	}
	img.src = '$item.getUrl()file';
	
	$('#theimage').append(img);
</script>

-->