
<!--<img src="$item.getUrl()file" id="theimage">-->

<!--<div id="theimage" style="width:inherit;height:inherit"></div>-->




<script>
	var div = document.getElementById("theimage");

	var img = new Image();
	img.onload = function() {
		var wr = this.width;
		var hr = this.height;
		var w = $(window).width();
		var h = $(window).height();
		var pw = this.parentElement.offsetWidth;
		var ph = this.parentElement.offsetHeight;
		var jqpw = $(this.parentElement).width();
		var jqph = $(this.parentElement).height();
		//alert("This.w = " + wr + ", h: " + hr + ", ww: " + w + ", wh: " + h + "\npw: " + pw + ", ph: " + ph + "\nw<h: " + (wr<hr) + "\njqpw: " + jqpw + ", jqph: " + jqph);
		
		//debugger;
		
		if(wr > pw || hr > ph) {
			var ratioR = wr / hr;
			var ratioP = pw  / ph;
			
			//alert("RATIOS. R: " + ratioR + ", P: " + ratioP);
			
		
			var rwidth = ratioR * wr;
			var rheight = ratioR * hr;
			var dw = (pw - wr);
			var dh = (ph - hr);
			if(ratioR > ratioP) {
				this.width = pw;
			} else {
				this.height = ph;
			}
			/*
			if(wr > hr) {
				if(dh < dw) {
					this.width = pw;
				} else {
					this.height = ph;
				}
			} else {
				if(dw < dh) {
					this.height = ph;
				} else {
					this.width = pw;
				}
			}
			*/
		}
	}
	img.src = '$item.getUrl()file';
	
	$('#content').append(img);
</script>



<!--
<script>
	$(function() {
		debugger;
		var img = document.getElementById("theimage");
		img.doResize = function() {
			//alert("HEJ");
			console.log("ajdjajwd");
		}
		
		var element = $('#theimage')[0];
		var parent = element.parentNode;
		var w = $(parent).css('width');
		$(element).width(parent.clientWidth);
		$(element).height(parent.clientHeight);
	})
</script>
-->
<!--
<div id="theimage">
</div>

<script>
	var div = document.getElementById("theimage");
	div.addEventListener("resize", function() {alert("HEY")});

	Utils.setTheImageSize = function(maxDim) {
		var w = $('#theimage').width();
		var h = $('#theimage').height();
		if(w < h) {
			this.width = this.width * wr;
		} else {
			this.height = this.height * hr;
		}
	}
	var img = new Image();
	img.onload = function() {
  		//alert(this.width + 'x' + this.height);
  		
  		//
  		/* 
		var w = $(window).width() - 100;
		var h = $(window).height() - 100;
		var wr = w / this.width;
		var hr = h / this.height;
		
		if(wr < hr) {
			this.width = this.width * wr;
		} else {
			this.height = this.height * hr;
		}
		*/
	}
	img.src = '$item.getUrl()file';
	
	$('#theimage').append(img);
</script>

-->