$context

$item
Following, <span id="following">N/A</span>

<script type="text/javascript">

	$(function() {
	    $.ajax({
	        type: "GET",
	        url: "/resource/$request.getUser().getIdentifier()/follow/isFollowing",
	        data: {id:"$context.getIdentifier()"},
	        success: function(data, textStatus, jqxhr){changeFollowStatus(data)},
	        error: function(ajax, text, error) {alert(error)}
	    });
	});
	
	function changeFollowStatus(data) {
		var json = JSON.parse(data);
		var f = json.following || false;
		if(f) {
			$('#following').html("You are following, <a onclick=\"followThis(true);return false;\">UNFOLLOW</a>");
		} else {
			$('#following').html("You are NOT following, <a onclick=\"followThis(false);return false;\">FOLLOW</a>");
		}
	}
	
	function followThis(unfollow) {
		var type = unfollow ? "DELETE" : "POST";
	    $.ajax({
	        type: type,
	        url: "/resource/$request.getUser().getIdentifier()/follow/?id=$context.getIdentifier()",
	        success: function(data, textStatus, jqxhr){changeFollowStatus(data)},
	        error: function(ajax, text, error) {alert(error)}
	    });
	}
</script>