#headerBlock($definition)

#menuBlock($item)

<form action="result" method="get" id="queryForm">
    <input name="query" id="query" type="text" style="width: 80%"><br>
    <input type="submit" value="Search">
</form>

<div id="container">
</div>

<script type="text/javascript">
	
	$("#container").on("click", ".toggleCollectionElement", function() {
		alert("YEAH");
	});
	
	var o = function(json) { return "<div style=\";width:100%;background-color:#565645;text-align:left;height:20px\"><a href=\"javascript:void(0)\" onclick=\"addResourceToCollection('" + json._id + "');\"><div style=\"float:right\" id=\"toggleCollection" + json._id + "\">" + json.incollection + "</div></a></div>"; };
	var search = new Search('#queryForm', '#query', o);
	
	function addResourceToCollection(id) {
		alert("ADDING " + id);
	/*	$.ajax({
			url: "add",
			type: "POST",
			data: {id:id},
			success: function(data, textStatus, jqxhr){alert('Successful');},
			error: function(ajax, text, error) {alert(error)}
		});*/
	}
</script>

#footerBlock()