<div id="container">
<input id="currentCollectionId" type="hidden" value="0" readonly>
</div>


<div id="collectionModal" style="border-style:none;background-color:transparent;width:98%;text-align:center">

HEJ
</div>

<script>

	$('#collectionModal').easyModal({
		top: 200,
		overlay: 0.2,
		overlayOpacity:0.3,
		top:10,
		fixedPosition:false
	});
	
    $(document).keydown(function (e) {
    	if($('#collectionModal').is(':visible')) {
	        if(e.keyCode === 37) {
	            previous();
	        }
	        
	        if(e.keyCode === 39) {
	            next();
	        }
	    }
    });
    
    function next() {
    	var c = $('#currentCollectionId').val();
    	var next = c++;
		update(c);		
    }
    
    function previous() {
    	var c = $('#currentCollectionId').val();
    	var next = c--;
		update(c);		
    }
    
    function update(c) {
		Utils.fetchResourceViewUrl('get/' + c, 'view', function(data) {
			$('#collectionModal').html(data);
		}, alert);
		
		$('#currentCollectionId').val(c);
    }

	var ff = function(rb) {
		$.ajax({
            url: "fetch",
            type: "GET",
            data: {offset:rb.offset, number:rb.number},
            success: function(data, textStatus, jqxhr){rb.append(JSON.parse(data));},
            error: function(ajax, text, error) {alert(text);}
        });
	}
	var urlf = function(idx) {return 'get/' + idx;}
	var args = {
		fetchFunction: ff,
		number: 10,
		onClickFunction: function(idx){
			update(idx);
		}
	};
	var rb = new ResourceBrowser(args);
	rb.fetch();
	
	
</script>